<!doctype html>
<html ng-app>
  <head>
    <link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap.min.css">
    
    <script src="/scripts/angular/angular.min.js"></script>
  </head>
  <body>
  
  </body>
</html>